# Dependencies
node_modules
npm-debug.log*

# Next.js
.next/
out/

# Production
build

# Misc
.DS_Store
*.tgz
*.tar.gz

# Debug
*.log

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Git
.git
.gitignore
README.md

# IDE
.vscode
.idea

# Testing
coverage
.nyc_output

# Runtime data
pids
*.pid
*.seed
*.pid.lock