apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: e41d0a3dde2e92aac0ef2727520b9d366e9ea8ae

patches:
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "cks.fullstack.pw"
    target:
      kind: VirtualService
      name: cks-frontend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Rollout
      name: cks-frontend
  - patch: |-
      - op: remove
        path: /spec/strategy/blueGreen/prePromotionAnalysis
    target:
      kind: Rollout
      name: cks-frontend
  - patch: |-
      - op: remove
        path: /spec/strategy/blueGreen/postPromotionAnalysis
    target:
      kind: Rollout
      name: cks-frontend
configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
