apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /metadata/annotations/external-dns.alpha.kubernetes.io~1hostname
        value: "cks.fullstack.pw"
      - op: replace
        path: /spec/tls/0/hosts/0
        value: "cks.fullstack.pw"
      - op: replace
        path: /spec/rules/0/host
        value: "cks.fullstack.pw"
    target:
      kind: Ingress
      name: cks-frontend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Deployment
      name: cks-frontend
