apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: 8dae27801b67c34170b554830a870eea63e5eeb7

configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
