apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: f8bcc38ba974638c844b1d79ed085f2099bb0e54

configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
