apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: 99b4a8b2cdd19bf05cbab61e5ed0d788d650482c

configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
