apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: 36841f4ed8dfbea4f1b52f1d8f233f215b19fa40

configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
