apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: f6be159fc57e2695e5136b7cc7c40945963275fb

configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
