apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: 86b0b3dfc5e050f78efb7b989f4e82a4d6f45e05

configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
