apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: b5ce1425c352e75fa472502087443d7d73a9d3a4

configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
