apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: 121a9114168c0c012f30fd738faf332ec1617ea5

configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
