apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: e838c7310ea761938ecb9f039f8494faa329fb65

configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
