apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: 6504ff16ad37ad06a6be25461840bd90b099980d

configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
