apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: e41d0a3dde2e92aac0ef2727520b9d366e9ea8ae

configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
