apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-frontend
    newTag: 9d44aa546da5222442adada29ac5097b624f38f5

configMapGenerator:
  - name: cks-frontend-config
    behavior: merge
    envs:
      - configmap
